$bgColor: #c60023;
$darkTextColor: #333;
$headerHeight:3.33rem;
$border:.0625rem solid #EDEDED;
@mixin border-1px($color) { 
    position:relative;
    &:after{
      display:block;
      position:absolute;
      left:0;
      bottom:0;
      width:100%;
      border-top:1px solid $color;
      content:' ';
    }      
}
@mixin listitem($size,$color) {
  display:block;
  width:80%;
  height: 2rem;
  line-height: 2rem;
  font-size:$size;
  color:$color;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
@mixin iconnum() {
  position:absolute;
  top:0;
  right:0;
  width:1.5rem;
  height:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:1rem;
  font-size:0.5625rem;
  font-weight:700;
  color:#fff;
  background:rgb(240,20,20);
  box-shadow:0 0.25rem 0.5rem 0 rgba(0,0,0,0.4);
}