@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?max49v');
  src:  url('fonts/icomoon.eot?max49v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?max49v') format('truetype'),
    url('fonts/icomoon.woff?max49v') format('woff'),
    url('fonts/icomoon.svg?max49v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size:1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 编辑 */
.icon-compile:before {
  content: "\e617";
}
/* 上海市区 */
.icon-shanghai:before {
  content: "\e611";
}
/* 蔬菜 */
.icon-shengxian-xianshucai:before {
  content: "\e609";
}
/* 海南省 */
.icon-hainansheng:before {
  content: "\e62c";
}
/* 河南省 */
.icon-henansheng:before {
  content: "\e62d";
}
/* 贵州省 */
.icon-guizhousheng:before {
  content: "\e62e";
}
/* 甘肃省 */
.icon-gansusheng:before {
  content: "\e62f";
}
/* 湖北省 */
.icon-hubeisheng:before {
  content: "\e630";
}
/* 湖南省 */
.icon-hunansheng:before {
  content: "\e631";
}
/* 江西省 */
.icon-jiangxisheng:before {
  content: "\e632";
}
/* 青海省 */
.icon-qinghaisheng:before {
  content: "\e633";
}
/* 山西省 */
.icon-shanxisheng:before {
  content: "\e634";
}
/* 浙江省 */
.icon-zhejiangsheng:before {
  content: "\e635";
}
/* 云南省 */
.icon-yunnansheng:before {
  content: "\e636";
}
/* 台湾省 */
.icon-taiwansheng:before {
  content: "\e637";
}
/* 西藏自治区 */
.icon-xicangzizhiqu:before {
  content: "\e638";
}
/* 江苏省 */
.icon-jiangsusheng:before {
  content: "\e639";
}
/* 新疆自治区 */
.icon-xinjiangzizhiqu:before {
  content: "\e63a";
}
/* 北京市 */
.icon-beijingshi:before {
  content: "\e63b";
}
/* 广东省 */
.icon-guangdongsheng:before {
  content: "\e63c";
}
/* 重庆市 */
.icon-zhongqingshi:before {
  content: "\e63d";
}
/* 福建省 */
.icon-fujiansheng:before {
  content: "\e63e";
}
/* 四川省 */
.icon-sichuansheng:before {
  content: "\e63f";
}
/* 山东省 */
.icon-shandongsheng:before {
  content: "\e640";
}
/* 内蒙古自治区 */
.icon-neimengguzizhiqu:before {
  content: "\e641";
}
/* 天津市 */
.icon-tianjinshi:before {
  content: "\e642";
}
/* 山西省 */
.icon-shanxisheng1:before {
  content: "\e643";
}
/* 河北省 */
.icon-hebeisheng:before {
  content: "\e644";
}
/* 黑龙江省 */
.icon-heilongjiangsheng:before {
  content: "\e645";
}
/* 吉林省 */
.icon-jilinsheng:before {
  content: "\e646";
}
/* 辽宁省 */
.icon-liaoningsheng:before {
  content: "\e647";
}
/* 山东省 */
.icon-shandongsheng1:before {
  content: "\e648";
}
/* 城市 */
.icon-chengshi:before {
  content: "\ec70";
}
/* 购物车 */
.icon-gouwuchekong:before {
  content: "\f0179";
}
/* 发现 */
.icon-faxian:before {
  content: "\f029f";
}
/* 分类1 */
.icon-unie63a:before {
  content: "\e6bb";
}
/* 用户登录头像 */
.icon-icon:before {
  content: "\e61b";
}
/* 登录密码 */
.icon-denglushimima:before {
  content: "\e649";
}
/* 加号 */
.icon-add_circle:before {
  content: "\e64a";
}
/* 分类2 */
.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}
/* 超市1 */
.icon-fuwuchaoshi:before {
  content: "\e61c";
}
/* 手机 */
.icon-shouji:before {
  content: "\e64b";
}
/* 返回 */
.icon-iconfontzhizuobiaozhun023126:before {
  content: "\e680";
}
/* 衣服 */
.icon-yifu:before {
  content: "\e666";
}
/* 登录 */
.icon-denglu:before {
  content: "\e612";
}
/* 超市2 */
.icon-icon-test:before {
  content: "\e621";
}
/* 搜索 */
.icon-sousuo:before {
  content: "\e652";
}
/* B */
.icon-B:before {
  content: "\e64c";
}
/* 玩具 */
.icon-wanju:before {
  content: "\e608";
}
/* 减号 */
.icon-jianhao:before {
  content: "\e618";
}
/* 电脑 */
.icon-computer:before {
  content: "\e614";
}
/* 水果 */
.icon-shuiguo:before {
  content: "\e606";
}
/* 静止 */
.icon-jinzhi:before {
  content: "\e66b";
}
/* 关闭 */
.icon-jinzhi1:before {
  content: "\e615";
}
/* 邮箱 */
.icon-email:before {
  content: "\e651";
}
/* 叉 */
.icon-error:before {
  content: "\e7f6";
}
/* 答案 */
.icon-yuechi:before {
  content: "\e80e";
}
/* 电话 */
.icon-weibiaoti-1:before {
  content: "\e60d";
}
/* 用户 */
.icon-yonghu:before {
  content: "\e60e";
}
/* 问题 */
.icon-wenhao:before {
  content: "\e7a1";
}
/* 上 */
.icon-tubiaozhizuo-1:before {
  content: "\e607";
}
/* 下 */
.icon-tubiaozhizuo-2:before {
  content: "\e60a";
}
